/*
// code written by:
// Paulina Valero, 40289881 
*/

.button {
  border: 1px solid transparent;
  padding-inline: 1rem;
  padding-block: .5rem;
  display: inline-block;
  font: var(--button-button);
  text-decoration: none;
  cursor: pointer;
  color: currentColor;
  background: transparent;
  border-radius: .25rem;
}

.button:active {
  transform: scale(.95);
}

.button.is-primary {
  background: var(--blue20);
  color: var(--white);
}

.button.is-secondary {
  background: var(--blue40);
  color: var(--white);

}

.button.is-delete {
  background: var(--red10);
  color: var(--white);

}

.button.is-remove {
  background: var(--orange10);
  color: var(--white);
}

.button.is-outline-primary {
  border: 1px solid var(--green10);
}

.button.is-outline-secondary {
  border: 1px solid var(--red10);
}

.button.is-primary:hover {
  background: var(--blue25);
}

.button.is-secondary:hover {
  background: var(--blue45);
}

.button.is-delete:hover {
  background: var(--red20);
}