.form{
  padding: 20px;
}

.inline-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.inline-form input {
  height: 40px;
  border: 1px solid #d0d0d0;
  border-radius: 6px;
  padding-inline-start: 10px;
  font-size: 0.9rem;
}

.label-input input {
  height: 40px;
  /* border: 1px solid #d0d0d0;
  border-radius: 6px;
  padding-inline-start: 10px;
  font-size: 0.9rem; */
}

.inline-form select {
  height: 40px;
  border: 1px solid #d0d0d0;
  border-radius: 6px;
  padding-inline-start: 10px;
  font-size: 0.9rem;
}

.input{
  width: 100%;
  margin-block: 1.5rem;
  display: flex;
  flex-direction: column;
}

.input-body,
.label-input-body {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  align-items: center;
}

.input-body input,
.input-body select {
  flex: 1;
}


.input input,
.input select {
  height: 50px;
  width: 100%;
  outline: none;
  border: 1px solid #dddddd;
  border-radius: 6px;
  padding-inline: 15px;
  margin-block-start: 5px;
  font-size: 1rem;
}

.input input::placeholder {
  color: #999999;
  font-weight: 300; 
}

.button-container {
  display: flex;
  justify-content: flex-end;
}

.label-input {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 5px;
}