:root {
  --white: #fffffe;
  --red10: #e25454;
  --red20: #cb4c4c;
  --green10: #75bb45;
  --green20: #68a83e;
  --blue10: #78C0E0;
  --blue20: #449DD1;
  --blue25: #3a83ad;
  --blue30: #192BC2;
  --blue40: #004C8C;
  --blue45: #013763;
  --blue50: #150578;
  --blue60: #0E0E52;
  --button: 500 0.875rem/1rem Roboto; 
}