
.table-wrapper {
  padding: 25px;
  background: var(--white);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15); 
  border-radius: 5px;
  min-width: 600px;
  margin-block-end: 15px;
}

.table-wrapper h2 {
  margin-block-start: 0;
}

.content-table {
  border-collapse: collapse;
  font-size: 0.9em;
  min-width: 400px;
  width: 100%;
}

.content-table thead th {
  background-color: #f1f1f1;
}

.content-table thead tr {
  text-align: left;
}


.content-table th, 
.content-table td {
  padding: .5rem;
  /* padding-block: .5rem; */
}

.content-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.hundredvh-container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(#919bff, #133a94);
}